// Wide Screens
@include mediaXl {
    .therapies {
        grid-template-columns: repeat(4, 1fr);
    }
}

// Desktops and laptops
@include mediaLg {
    .therapies {
        grid-template-columns: repeat(3, 1fr);
    }
}

// Tablets and Small Laptops
@include mediaMd {
    main {
        align-items: center;
        text-align: center;

        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }
    }

    ul.menu-nav, div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0, 0, 0);
        }
    }

    .menu-nav {
        height: 75vh;
        transform: translate3d(-100%, 0, 0);
        font-size: 24px;
    }

    .menu-branding {
        height: 25vh;
        transform: translate3d(100%, 0, 0);
    }

    .therapy-info {
        grid-template-areas: 
            'featured'
            'therapy-1'
            'therapy-2'
            'therapy-3'
            'therapy-4'
            'therapy-5';
        
        grid-template-columns: 1fr;
    }

    .therapies {
        grid-template-columns: repeat(2, 1fr);
    }

    #form-box {
        width: 80%;
    }

    .search-box {

        input {
            width: 100%;
            height: 50px;
            font-size: 1rem;
            float: left;
        }

        .search {
            height: 50px;
            font-size: .5rem;
            width: 50px;
        }
    }

    #msform {
        width: 100%;
        margin: 0;

        fieldset {
            width: 100%;
            margin: 0;
        }

        #progressbar {
            padding: 0;

            li {
                font-size: 8px;

                &:after {
                    left: -15%;
                    top: 30%;
                    width: 30%;
                }
            }
        }
    }

    .form_holder {
        margin: 0;
    }
}

// Smartphones
@include mediaSm {
    main#home h1, main#therapies h1, main#register h1 {
        margin-top: 10vh;
        font-size: 3rem;
    }

    main#home h2, main#therapies h2, main#register h2 {
        font-size: 1rem;
    }

    .therapies {
        grid-template-columns: 1fr;
    }
}