#msform {
    width: 80%;
    margin: 50px auto;
    text-align: center;
    position: relative;

    fieldset{
        background: white;
        color: black;
        border: 0 none;
        border-radius: 3px;
        box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
        padding: 20px 30px;
        box-sizing: border-box;
        width: 80%;
        margin: 0 10%;
        position: absolute;

        &:not(:first-of-type){
            display: none;
        }
    }

    input {
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-bottom: 10px;
        width: 100%;
        box-sizing: border-box;
        color:  #2C3E50;
        font-size: 13px;
    }

    .action-button {
        width: 100px;
        background: #27AE60;
        font-weight: 400;
        color: white;
        border: 0 none;
        border-radius: 1px;
        cursor: pointer;
        padding: 10px 5px;
        margin: 10px 5px;

        &:hover, :focus {
            box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
        }
    }

    .fs-title {
        font-size: 15px;
        text-transform: uppercase;
        margin-bottom: 10px;
        font-weight: 500;
    }

    .fs-subtitle {
        font-weight: normal;
        font-size: 13px;
        margin-bottom: 20px;
    }

    #progressbar {
        margin-bottom: 30px;
        overflow: hidden;
        counter-reset: step;

        li {
            list-style-type: none;
            color: #D2D2D2;
            text-transform: capitalize;
            font-size: 16px;
            width: 33.33%;
            float: left;
            position: relative;

            &.active {
                color: $third-color;

                &:before {
                    border: 2px solid $third-color;
                }

                &:after {
                    background: #27AE60;
                    color: white;
                }
            }

            &:before {
                content: '';
                counter-increment: step;
                width: 50px;
                line-height: 50px;
                display: block;
                font-size: 18px;
                color: #fff;
                background: transparent;
                border-radius: 100%;
                margin: 0 auto 5px auto;
                border: 2px solid #ECECEC;
            }

            &:after {
                content: '';
                width: 73%;
                height: 2px;
                background: #ECECEC;
                position: absolute;
                left: -35%;
                top: 25%;
                z-index: -1;
            }

            &:first-child:after {
                content: none;
            }

            &:nth-child(1):before {
                content: '\f007';
                font-family: 'Font Awesome 5 Free';
            }

            &:nth-child(2):before {
                content: '\f2b9';
                font-family: 'Font Awesome 5 Free';                
            }

            &:nth-child(3):before {
                content: '\f075';
                font-family: 'Font Awesome 5 Free';
            }
        }
    }
}

.form_holder {
    text-align: center;
    margin: 30px 0 0;
}