.search-box {

    input {
        width: 90%;
        font-size: 2rem;
        border-radius: 20px;
        padding: 2px 0 2px 15px;
        border: none;
        margin-top: 5px;
        
        &:focus {
            outline: none;
        }
    }

    .search-input {
        color: $primary-color;
        &::placeholder {
            // color: $primary-color;
            opacity: 0.5;
        }
    }
}