.search-box {
    margin-top: 25px;

    input {
        width: 75%;
        font-size: 2rem;
        padding: 2px 0 2px 15px;
        border: none;
        height: 75px;

        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        
        &:focus {
            outline: none;
        }
    }

    .search-input {
        color: $primary-color;
        &::placeholder {
            opacity: 0.5;
        }
    }

    .search {
        background: $fourth-color;
        color: #FFF;
        border: none;
        height: 75px;
        width: 100px;
        position: absolute;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}