$primary-color: #4484CE;
$secondary-color: #D9D9D9;
$third-color: #F9CF00;
$fourth-color: #F19F4D;
$show-home-image: true;
$home-image: url(/images/background.jpg);
$background-opacity: 0.7;
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700');

@mixin easeOut {
    transition: all 0.5s ease-out;
}

@mixin background {
    @if $show-home-image {
        &#bg-img {
            background: $home-image;
            background-attachment: fixed;
            background-size: cover;

            &:after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                background: rgba($primary-color, $background-opacity);
            }
        }
    }
}

* {
    box-sizing: border-box;
}

body {
    @include background;
    background: $primary-color;
    height: 100%;
    margin: 0;
    line-height: 1.5;
    color: white;
}

// Headings
h1, h2, h3 {
    margin: 0;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;

    &.lg-heading {
        font-size: 3rem;
    }
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color: $third-color;
}

main {
    padding: 4rem;
    height: 100%;

    &#home {
        overflow: hidden;
        
        h1 {
            margin-top: 20vh;
        }
    }
}