<!DOCTYPE html>
<html>
    <head>
        <title>TheraFind</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <link rel="stylesheet" href="/css/main.css">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgg_uxi9IJH7uwyEyH0sAUgfCqWUsznos"></script>

        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    </head>
    <body id="bg-img">
        <header>
            <div class="menu-btn">
                <div class="btn-line"></div>
                <div class="btn-line"></div>
                <div class="btn-line"></div>
            </div>
        
            <nav class="menu">
                <div class="menu-branding">
                    <div class="portrait">
                        <% if (currentUser) { %>
                            <h1>
                                Welcome, <%= currentUser.username %>!
                            </h1>
                        <% } %>
                    </div>
                </div>
                <ul class="menu-nav">
                    <li class="nav-item">
                        <a href="/" class="nav-link">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/about" class="nav-link">
                            About
                        </a>
                    </li>
                    <% if (!currentUser) { %>
                        <li class="nav-item">
                            <a href="/register" class="nav-link">
                                Register
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/login" class="nav-link">
                                Login
                            </a>
                        </li>
                    <% } else { %>
                        <li class="nav-item">
                            <a href="/profile/<%= currentUser._id %>" class="nav-link">
                                Profile
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/logout" class="nav-link">
                                Log Out
                            </a>
                        </li>
                    <% } %>
                </ul>
            </nav>
        </header>