<div id="register-box">
    <form method="POST" action="/register">           
        <label>Company Name:</label>
        <input type="text" name="therapy[name]" id="name" required>
    
        <label>Address 1:</label>
        <input type="text" name="therapy[street1]" id="street1" required> 
    
        <label>Address 2:</label>
        <input type="text" name="therapy[street2]" id="street2">
    
        <label>City:</label>
        <input type="text" name="therapy[city]" id="city" required>
    
        <label>State:</label>
        <input type="text" name="therapy[state]" id="state" required>
    
        <label>Zip Code:</label>
        <input type="text" name="therapy[zip]" id="zip" required>
    
        <label>Type of Therapy:</label>
        <input type="text" name="therapy[type]" id="type" required>
    
        <label>Website:</label>
        <input type="text" name="therapy[website]" id="website" required
    
        <label>Email:</label>
        <input type="email" name="therapy[email]" id="email" required>
        
        <button class="button">Register</button>
    </form>
</div>