<div class="wrap">
    <div class="search-box">
        <form action="/search" method="POST">
            <input type='text' placeholder='Enter City, State, or Zip Code' class='search-input' name="search"/>
            <button class="search"><i class="fas fa-search fa-2x"></i></button>
        </form>
    </div>
</div>