<div class="wrap">
    <div class="search-box">
        <form action="/search" method="POST">
            <input type='text' placeholder='Enter City, State, or Zip Code' class='search-input' name="search"/>
        </form>
    </div>
</div>