<% include partials/header %>

<main id="basic">
    <h1 class="lg-heading">
        Basic Setup
    </h1>

    <div class="therapy-register-form">
        <form action="/basic-therapy-register" method="POST">
            <div class="form-group">
                <input type="text" name="companyName" placeholder="Company Name">
            </div>
            <div class="form-group">
                <input type="text" name="address" placeholder="Address">
            </div>
            <div class="form-group">
                <input type="text" name="city" placeholder="City">
            </div>
            <div class="form-group">
                <input type="text" name="state" placeholder="State">
            </div>
            <div class="form-group">
                <input type="text" name="zip" placeholder="Zip Code">
            </div>
            <div class="form-group">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div> 
</main>

<% include partials/footer %>