<% include partials/header %>

<main id="home">
    <h1 class="lg-heading">
        Thera<span class="text-secondary">Find</span>
    </h1>
    <h2 class="sm-heading">
        Connecting Parents with the world around them
    </h2>

    <!-- <% include partials/stateselect %> -->

</main>


<% include partials/footer %>