<% include partials/header %>

<main id="home">
    <h1 class="lg-heading">
        Thera<span class="text-secondary">Find</span>
    </h1>
    <h2 class="sm-heading">
        Connecting <span class="text-secondary">Parents</span> with the world around them
    </h2>

    <!-- <% include partials/stateselect %> -->
    <% include partials/searchbar %>
    
</main>


<% include partials/footer %>