<% include partials/header %>

<main id="login">
    <h1 class="lg-heading">
        Log In
    </h1>
</main>

<div id="login-form">
    <form action="/login" method="POST">
        <div class="form-group">
            <input type='text' name='username' id="username" placeholder="Username" />
        </div>
        
        <div class="form-group">
            <input type='password' name='password'  id="password" placeholder="Password" />
        </div>
        <div class="form-group btn-container">
            <input type="Submit" value="Log In">
        </div>
    </form>
    <p class="sign-up-callout">
        Not a member? <a href="/register">Sign Up</a>
    </p>
</div>

<% include partials/footer %>