<% include partials/header %>

<main id="options">
    <h1 class="lg-heading">
        Pricing Options
    </h1>

    <div class="wrap-options">
        <div class="pricing-table">
            <div class="plan">
                <h3 class="name">Basic</h3>
                <h4 class="price">$0<span>/month</span></h4>
    
                <ul class="details">
                    <li>General Search Listing</li>
                    <li>Basic Profile Page</li>
                    <li>Ads</li>
                </ul>
    
                <h5 class="order"><a href="/register/basic">Sign Up</a></h5>
            </div><!--.plan-->
    
            <div class="plan">
                <h3 class="name">Pro</h3>
                <h4 class="price">$20<span>/month</span></h4>
    
                <ul class="details">
                    <li>Premium Placement in Searches</li>
                    <li>Availibility Marker</li>
                    <li>Specialized Profile Page</li>
                </ul>
    
                <h5 class="order"><a href="/register/pro">Sign Up</a></h5>
            </div><!--.plan-->
    
            <div class="plan">
                <h3 class="name">Premium</h3>
                <h4 class="price">Contact<span></span></h4>
    
                <ul class="details">
                    <li>Everything in Pro Plan</li>
                    <li>Plus reduced monthly rate</li>
                    <li>And Specialized Website</li>
                </ul>
    
                <h5 class="order"><a href="#">Contact Us</a></h5>
            </div><!--.plan-->
        </div><!--.pricing-table-->
    </div><!--.wrap-->
</main>

<% include partials/footer %>