<% include partials/header %>

<main id="search-results">
    <h1 class="lg-heading">
        Therapies
    </h1>

    <% if (therapies < 1) { %>
        <p>There are no therapies to show... <a href="/">search again.</a></p>
    <% } else { %>
        <% therapies.forEach(function(therapy) { %>
            <div class="therapy therapy-<%= therapy.id %>">
                <h4><%= therapy.name %></h4>
                <em><%= therapy.type %></em>
                <h5><%= therapy.state %></h5>
            </div>
        <% }); %>
    <% } %>
</main>


<% include partials/footer %>