<% include partials/header %>

<main id="therapies">
    <h1 class="lg-heading">
        Therapies
    </h1>
    <h2 class="sm-heading">
        A list of therapies in your area
    </h2>

    <div class="therapy-info">
        <% therapies.forEach(function(therapy) { %>
            <div class="therapy therapy-<%= therapy.id %>">
                <h4><%= therapy.name %></h4>
                <em><%= therapy.type %></em>
            </div>
        <% }); %>
    </div>
</main>

    


<% include partials/footer %>