<% include partials/header %>

<main id="therapies">
    <h1 class="lg-heading">
        Therapies
    </h1>

    <% if (therapies.length < 1) { %>
        <div class="no-therapy">
            <p>There are no therapies to show.</p>
        </div>
    <% } else { %>
        <div class="card-container">
            <% therapies.forEach(function(therapy) { %>
                <div class="card">
                    <img src="https://placeimg.com/620/240/any" alt="logo" class="logo">
                    <h3 class="company-name"><%= therapy.name %></h3>                    
                    <%= therapy.city %>, <%= therapy.state %>
                </div>
            <% }); %>     
        </div>
    <% } %>
    
</main>

<% include partials/footer %>