@import url("https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700");
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    transition: all 0.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(6px, -7px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: #387ccb;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.5s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background: #F19F4D;
    transform: translate3d(0, 100%, 0);
    transition: all 0.5s ease-out; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.5s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    transition: all 0.5s ease-out; }
    .menu .nav-link:hover {
      color: #F9CF00; }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

.search-box {
  margin-top: 25px; }
  .search-box input {
    width: 75%;
    font-size: 2rem;
    padding: 2px 0 2px 15px;
    border: none;
    height: 75px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; }
    .search-box input:focus {
      outline: none; }
  .search-box .search-input {
    color: #4484CE; }
    .search-box .search-input::placeholder {
      opacity: 0.5; }
  .search-box .search {
    background: #F19F4D;
    color: #FFF;
    border: none;
    height: 75px;
    width: 100px;
    position: absolute;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; }

#therapies {
  min-height: 100vh; }
  #therapies .no-therapy {
    background: #FFF;
    color: black;
    padding: 2px 10px;
    border-radius: 5px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4); }
    #therapies .no-therapy p {
      margin: 0; }
  #therapies .card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; }
    #therapies .card-container .card {
      text-align: center;
      width: 32%;
      margin-bottom: 15px;
      color: black;
      background-color: #FFF;
      border-radius: 5px 5px 0px 0px;
      box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4), 0 0 15px 4px rgba(0, 0, 0, 0.25); }
      #therapies .card-container .card img {
        border-radius: 5px 5px 0px 0px;
        max-width: 100%; }

.cf:before, .wrap-options .pricing-table:before,
.cf:after,
.wrap-options .pricing-table:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden; }


.cf:after,
.wrap-options .pricing-table:after {
  clear: both; }

.cf, .wrap-options .pricing-table {
  zoom: 1; }

.wrap-options {
  width: 900px;
  color: #607d8b;
  margin: 0 auto;
  box-shadow: 1px 1px 10px #424242; }
  .wrap-options .pricing-table {
    color: black; }
    .wrap-options .pricing-table .plan {
      border: border-box;
      width: 300px;
      background-color: #FFF;
      float: left;
      text-align: center;
      position: relative; }
      .wrap-options .pricing-table .plan h3.name {
        font-size: 20px;
        background-color: #D9D9D9;
        padding: 15px;
        color: #FFF; }
      .wrap-options .pricing-table .plan h4.price {
        font-size: 49px;
        color: #FFF;
        padding: 30px;
        background-color: #01A4F5;
        line-height: 40px; }
        .wrap-options .pricing-table .plan h4.price span {
          font-size: 1rem;
          font-style: italic; }
      .wrap-options .pricing-table .plan ul.details {
        list-style-type: none;
        padding: 0; }
        .wrap-options .pricing-table .plan ul.details li {
          border-bottom: 1px solid #B3B9C4;
          padding: 15px; }
      .wrap-options .pricing-table .plan h5.order {
        padding: 30px;
        font-size: 17px; }
        .wrap-options .pricing-table .plan h5.order a {
          text-decoration: none;
          color: #fff;
          background-color: #01A4F5;
          padding: 10px 20px; }
      .wrap-options .pricing-table .plan:first-child h4.price {
        background-color: #0EC0A5; }
      .wrap-options .pricing-table .plan:first-child h5.order a {
        background-color: #0EC0A5; }
      .wrap-options .pricing-table .plan:last-child h4.price {
        background-color: #f81735; }
      .wrap-options .pricing-table .plan:last-child h5.order a {
        background-color: #F22D47; }
      .wrap-options .pricing-table .plan:nth-child(2n) {
        box-shadow: 0px 0px 10px #424242;
        z-index: 1; }

#basic-reg {
  background: #fff;
  box-sizing: border-box;
  width: 400px;
  margin: 0 auto;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
  padding: 20px; }
  #basic-reg input[type=text], #basic-reg input[type=password], #basic-reg input[type=email] {
    background: #f1f1f1;
    width: 100%;
    padding: 15px 0;
    margin-bottom: 10px;
    border: none;
    text-indent: 60px; }
  #basic-reg input[type=password] {
    margin-bottom: 0; }
  #basic-reg input[type=submit] {
    background: #F19F4D;
    border: none;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease; }
    #basic-reg input[type=submit]:hover {
      background: #4484CE; }
  #basic-reg .input-icon {
    position: absolute;
    margin-top: 17px;
    margin-left: 17px; }
    #basic-reg .input-icon:after {
      content: "";
      display: block;
      height: 49px;
      width: 1px;
      background: #4484CE;
      position: absolute;
      margin-top: -25px;
      left: 30px; }
  #basic-reg .btn-container {
    margin-top: 10px; }
  #basic-reg .btn-icon {
    position: absolute; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background: #4484CE;
  height: 100%;
  margin: 0;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
  color: white; }
  body#bg-img {
    background: url(/images/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh; }
    body#bg-img:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -11;
      background: rgba(68, 132, 206, 0.7); }
    body#bg-img #options {
      min-height: 100vh;
      background: #4484CE; }

h1, h2, h3, h4 {
  margin: 0;
  font-weight: 300; }
  h1.lg-heading, h2.lg-heading, h3.lg-heading, h4.lg-heading {
    font-size: 6rem; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-secondary {
  color: #F9CF00; }

.beta {
  font-size: 1rem;
  font-style: italic;
  background-color: #F19F4D;
  padding: 0 7px;
  border-radius: 25px; }

main {
  padding: 4rem;
  height: 100%; }
  main#home {
    overflow: hidden; }
    main#home h1 {
      margin-top: 20vh; }
  main#about .lg-heading {
    font-size: 4rem; }

@media screen and (min-width: 1171px) {
  .therapies {
    grid-template-columns: repeat(4, 1fr); } }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .therapies {
    grid-template-columns: repeat(3, 1fr); } }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; }
  ul.menu-nav, div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show, div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0); }
  .therapy-info {
    grid-template-areas: 'featured' 'therapy-1' 'therapy-2' 'therapy-3' 'therapy-4' 'therapy-5';
    grid-template-columns: 1fr; }
  .therapies {
    grid-template-columns: repeat(2, 1fr); }
  #form-box {
    width: 80%; }
  .search-box input {
    width: 100%;
    height: 50px;
    font-size: 1rem;
    float: left; }
  .search-box .search {
    height: 50px;
    font-size: .5rem;
    width: 50px; }
  #msform {
    width: 100%;
    margin: 0; }
    #msform fieldset {
      width: 100%;
      margin: 0; }
    #msform #progressbar {
      padding: 0; }
      #msform #progressbar li {
        font-size: 8px; }
        #msform #progressbar li:after {
          left: -15%;
          top: 30%;
          width: 30%; }
  .form_holder {
    margin: 0; } }

@media screen and (max-width: 500px) {
  main#home h1, main#therapies h1, main#register h1 {
    margin-top: 10vh;
    font-size: 3rem; }
  main#home h2, main#therapies h2, main#register h2 {
    font-size: 1rem; }
  .therapies {
    grid-template-columns: 1fr; } }
