@import url("https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700");
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    transition: all 0.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(6px, -7px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: #387ccb;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.5s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background: #F19F4D;
    transform: translate3d(0, 100%, 0);
    transition: all 0.5s ease-out; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.5s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    transition: all 0.5s ease-out; }
    .menu .nav-link:hover {
      color: #F9CF00; }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

#msform {
  width: 80%;
  margin: 50px auto;
  text-align: center;
  position: relative; }
  #msform fieldset {
    background: white;
    color: black;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    position: absolute; }
    #msform fieldset:not(:first-of-type) {
      display: none; }
  #msform input {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 13px; }
  #msform .action-button {
    width: 100px;
    background: #27AE60;
    font-weight: 400;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px; }
    #msform .action-button:hover, #msform .action-button :focus {
      box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60; }
  #msform .fs-title {
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 500; }
  #msform .fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    margin-bottom: 20px; }
  #msform #progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    counter-reset: step; }
    #msform #progressbar li {
      list-style-type: none;
      color: #D2D2D2;
      text-transform: capitalize;
      font-size: 16px;
      width: 33.33%;
      float: left;
      position: relative; }
      #msform #progressbar li.active {
        color: #F9CF00; }
        #msform #progressbar li.active:before {
          border: 2px solid #F9CF00; }
        #msform #progressbar li.active:after {
          background: #27AE60;
          color: white; }
      #msform #progressbar li:before {
        content: '';
        counter-increment: step;
        width: 50px;
        line-height: 50px;
        display: block;
        font-size: 18px;
        color: #fff;
        background: transparent;
        border-radius: 100%;
        margin: 0 auto 5px auto;
        border: 2px solid #ECECEC; }
      #msform #progressbar li:after {
        content: '';
        width: 73%;
        height: 2px;
        background: #ECECEC;
        position: absolute;
        left: -35%;
        top: 25%;
        z-index: -1; }
      #msform #progressbar li:first-child:after {
        content: none; }
      #msform #progressbar li:nth-child(1):before {
        content: '\f007';
        font-family: 'Font Awesome 5 Free'; }
      #msform #progressbar li:nth-child(2):before {
        content: '\f2b9';
        font-family: 'Font Awesome 5 Free'; }
      #msform #progressbar li:nth-child(3):before {
        content: '\f075';
        font-family: 'Font Awesome 5 Free'; }

.form_holder {
  text-align: center;
  margin: 30px 0 0; }

.search-box {
  margin-top: 25px; }
  .search-box input {
    width: 75%;
    font-size: 2rem;
    padding: 2px 0 2px 15px;
    border: none;
    height: 75px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; }
    .search-box input:focus {
      outline: none; }
  .search-box .search-input {
    color: #4484CE; }
    .search-box .search-input::placeholder {
      opacity: 0.5; }
  .search-box .search {
    background: #F19F4D;
    color: #FFF;
    border: none;
    height: 75px;
    width: 100px;
    position: absolute;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; }

* {
  box-sizing: border-box; }

body {
  background: #4484CE;
  height: 100%;
  margin: 0;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
  color: white; }
  body#bg-img {
    background: url(/images/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh; }
    body#bg-img:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(68, 132, 206, 0.5); }

h1, h2, h3 {
  margin: 0;
  font-weight: 300; }
  h1.lg-heading, h2.lg-heading, h3.lg-heading {
    font-size: 6rem; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-secondary {
  color: #F9CF00; }

.beta {
  font-size: 1rem;
  font-style: italic;
  background-color: #F19F4D;
  padding: 0 7px;
  border-radius: 25px; }

main {
  padding: 4rem;
  height: 100%; }
  main#home {
    overflow: hidden; }
    main#home h1 {
      margin-top: 20vh; }
  main#about .lg-heading {
    font-size: 4rem; }

.therapy-info {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr); }
  .therapy-info .therapy {
    background: #5891d3;
    padding: 0.5rem;
    border-bottom: #D9D9D9 5px solid; }
    .therapy-info .therapy:hover {
      opacity: 0.7;
      border-color: #D9D9D9;
      transition: all 0.5s ease-out; }

@media screen and (min-width: 1171px) {
  .therapies {
    grid-template-columns: repeat(4, 1fr); } }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .therapies {
    grid-template-columns: repeat(3, 1fr); } }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; }
  ul.menu-nav, div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show, div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0); }
  .therapy-info {
    grid-template-areas: 'featured' 'therapy-1' 'therapy-2' 'therapy-3' 'therapy-4' 'therapy-5';
    grid-template-columns: 1fr; }
  .therapies {
    grid-template-columns: repeat(2, 1fr); }
  #form-box {
    width: 80%; }
  .search-box input {
    width: 100%;
    height: 50px;
    font-size: 1rem;
    float: left; }
  .search-box .search {
    height: 50px;
    font-size: .5rem;
    width: 50px; }
  #msform {
    width: 100%;
    margin: 0; }
    #msform fieldset {
      width: 100%;
      margin: 0; }
    #msform #progressbar {
      padding: 0; }
      #msform #progressbar li {
        font-size: 8px; }
        #msform #progressbar li:after {
          left: -15%;
          top: 30%;
          width: 30%; }
  .form_holder {
    margin: 0; } }

@media screen and (max-width: 500px) {
  main#home h1, main#therapies h1, main#register h1 {
    margin-top: 10vh;
    font-size: 3rem; }
  main#home h2, main#therapies h2, main#register h2 {
    font-size: 1rem; }
  .therapies {
    grid-template-columns: 1fr; } }
